# Maven / Spring Boot
/target/
/dist/
/runtime/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# Node.js
/node_modules/
/npm-debug.log
/yarn-error.log

# IDEs
/.idea/
/*.iml
/out/
/.vscode/
/.settings/
/.classpath
.project

# Logs
*.log

# OS
.DS_Store
Thumbs.db
